/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/entry/src/main/resources/.DS_Store
/entry/src/main/resources/base/.DS_Store